.dashboard-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dasboard {
  background-color: #fff;
  width: 1000px;
}
.dashboard-home {
  width: 100%;
  padding-top: 20px;
}

.homeWidgets {
  display: flex;
  margin: 20px;
}
