.admin-product {
  display: flex;
  justify-content: center;
}

.admin-product .product-box {
  background-color: #fff;

  padding: 0px 20px;
  width: 940px;
  height: 100%;
  padding-bottom: 20px;
  overflow: hidden;

  box-shadow: 1px 2px 4px -2px #b4b4b4;
}
.admin-product .product-box .product-header {
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
}

.admin-product .product-box h1 {
  display: flex;
  justify-content: center;

  font-family: "Old Standard TT", serif;
  font-size: 48px;
  color: #2e2e2e;
  position: relative;
  top: 20px;
}
.admin-product .create-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}
.admin-product .productAddButton {
  width: 120px;
  border: none;
  padding: 8px;
  margin-top: -40px;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  right: 10px;
  bottom: 5px;
}
.admin-product .product-section {
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
  padding: 20px;
  padding-bottom: 20px;
  height: 820px;

  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-table {
  width: 100%;
  position: relative;
  right: 3px;
}
.admin-product .product-table-scroll {
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.admin-product .product-table-scroll::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  height: 7px;
}
.admin-product .product-table-scroll::-webkit-scrollbar-track {
  width: 5px;
  height: 7px;
  background-color: #b4b4b4;
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.admin-product .product-table-scroll::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  width: 5px;

  height: 15% !important;
  transition: 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}

.product-table-header ul {
  border-bottom: 3px solid #b4b4b4;
  display: inline-flex;
  width: 910px;
  margin-top: 40px;
  justify-content: space-between;
  list-style: none;
  color: #b4b4b4;
  font-weight: 800;
  padding-bottom: 10px;
}
.product-table-header .product-id {
  position: relative;
}
.product-table-header .product-name {
  position: relative;
  left: 140px;
}
.product-table-header .product-price {
  position: relative;
  left: 130px;
}
.product-table-header .product-category {
  position: relative;
  left: 70px;
}

.product-table-header .product-brand {
  position: relative;
  left: 45px;
}
.product-table-header .product-size {
  position: relative;
  left: 15px;
}
.product-table-header .product-actions {
  position: relative;
  right: 20px;
}
.product-table-row tr {
  display: flex;
  align-items: center;
}
.admin-product .product-table-column {
  overflow-y: scroll;

  height: 730px;
  margin-top: 10px;
}

.product-table-row .product-item-list:nth-child(odd) {
  background-color: #f7f7f7;
  min-height: 120px;
}
.product-table-row .product-item-list:nth-child(even) {
  min-height: 120px;
}
.admin-product .product-item-id {
  width: 200px;
}
.admin-product .product-item-name {
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  left: 50px;
}
.admin-product .product-item-price {
  color: #f62f5e;
  font-weight: 600;
  position: relative;
  display: flex;
  justify-content: start;
  left: 80px;
  width: 60px;
}
.admin-product .product-item-category {
  width: 60px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  left: 150px;
}
.admin-product .product-item-size {
  width: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  position: relative;
  left: 200px;
}

.admin-product .product-btn-view {
  margin-left: 260px;
  padding-right: 8px;
  width: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  left: 0px;
}
.admin-product .product-btn {
  background: #b4b4b4;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.admin-product .product-delete {
  color: #f62f5e;
  cursor: pointer;
}

.product-section .product-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.product-pagination .paginationItemStyle.active {
  background-color: #f62f5e;
  color: #fff;
}
.productlist-page {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.product-pagination a {
  color: #2e2e2e;
  width: 30px;
  height: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 7px;
}
.product-pagination .text-bold {
  border-radius: 50%;
  cursor: pointer;
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 570px) {
  .admin-product .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .admin-product .product-box h1 {
    position: relative;
    top: 0;
    margin-left: 5px;
  }
  .admin-product .productAddButton {
    margin-top: 0px;
  }
}
@media screen and (max-width: 375px) {
  .admin-product .product-header h1 {
    font-size: 28px;
  }
  .admin-product .productAddButton {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
