.cart-mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.cart-mobile-stle {
  width: 900px;
  padding: 0px 5px;

  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.cart-m-box {
  width: 98%;
  margin-top: 20px;
}
.cart-mobile .num-item {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 5px;
}
.num-item .item-header {
  margin-left: 5px;
}
.cart-m-box .cart-is-empty {
  font-weight: 900;
  font-size: 18px;
  color: #6c6c6c;
}
.design-control-box {
  height: 400px;
}
.cart-m-box .active-box {
  min-height: 420px;
}
.cart-mobile .cart-m-sections {
  display: flex;
  justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
  margin-bottom: 10px;
  overflow: hidden;

  padding: 5px;
}
.cart-m-sections .cart-m-stayle-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.cart-m-stayle-sec .col-1 .item-image {
  width: 200px;
  height: 200px;
}
.cart-m-stayle-sec .col-2 {
  width: 250px;
}
.cart-m-stayle-sec .col-2 .col-2-name a {
  color: #2e2e2e;
}
.cart-mobile .col-2 .keygen-col {
  color: #6c6c6c;
  font-size: 13px;
  margin: 4px 0px;
}
.cart-mobile .col-2 .item-price {
  font-size: 20px;
  font-weight: 600;
  color: #f62f5e;
}
.cart-m-stayle-sec .col-2 label {
  font-weight: 800;
  color: #b4b4b4;
}
.cart-m-stayle-sec .col-2 .item-color,
.item-size {
  display: flex;
  align-items: center;
}
.cart-m-stayle-sec .col-2 .item-color .color_image_size {
  position: relative;
  top: 4px;
}
.cart-m-stayle-sec .col-2 .item-color span {
  margin-left: 10px;
}
.cart-m-stayle-sec .col-2 .item-size span {
  margin-left: 10px;
  color: #6c6c6c;
}
.cart-mobile .col-2 .item-qty-btn {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.cart-mobile .col-2 .item-quant {
  font-weight: 600;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
  padding: 4px 15px;
  width: 10px;
  margin: 0px 3px;
}
.cart-mobile .col-2 .item-qty-btn button {
  width: 30px;
  height: 30px;
  font-size: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  cursor: pointer;
}
.cart-mobile .col-2 .item-remove button {
  background: #f62f5e;
  outline: none;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-mobile .back-shop-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px 20px;
}
.cart-mobile .back-shop-checkout .back-to-shop-btn {
  background: #fff;
  outline: none;
  border: none;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 15px;
  color: #f62f5e;
  font-weight: 800;
  cursor: pointer;
}
.cart-mobile .back-shop-checkout .cart-checkout-btn {
  background: #f62f5e;
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-mobile .back-shop-checkout .disable-checkout {
  background-color: #dfdede;
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: #bebebe;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
@media screen and (max-width: 414px) {
  .cart-m-stayle-sec .col-1 .item-image {
    width: 180px;
    height: 180px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 375px) {
  .cart-m-stayle-sec .col-1 .item-image {
    width: 160px;
    height: 160px;
  }
}
@media screen and (max-width: 320px) {
  .cart-m-stayle-sec .col-1 .item-image {
    width: 200px;
    height: 200px;
  }
  .cart-m-sections .cart-m-stayle-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart-m-stayle-sec .col-2 {
    width: 100%;
    display: grid;
    justify-content: start;
    padding: 10px;
    margin-left: 10px;
  }
  .cart-mobile .back-shop-checkout {
    padding: 0px 5px;
  }
  .cart-mobile .back-shop-checkout .back-to-shop-btn {
    height: 35px;
    font-size: 14px;
  }
  .cart-mobile .back-shop-checkout .cart-checkout-btn {
    height: 35px;
    font-size: 14px;
  }
  .cart-mobile .back-shop-checkout .disable-checkout {
    height: 35px;
    font-size: 14px;
  }
}
