.cart-items-modal {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.cart-list {
  background-color: white;
  box-shadow: 1px 2px 40px -2px #b4b4b4;
  width: 750px;
  height: 610px;
  z-index: 1000;
  overflow: hidden;
  margin-top: 129px;
}
.cart-items-nav {
  display: flex;
  justify-content: center;
}
.cart-items-nav .cart-herader-cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-herader-cancel .fa-solid {
  font-size: 40px;
  position: relative;
  right: 30px;
  top: 20px;
  cursor: pointer;
}
.cart-header h2 {
  position: relative;
  left: 35px;
  top: 10px;
}
.cart-list .empty-cart {
  position: absolute;
  top: 170px;
  margin-left: 35px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 18px;
  color: #6c6c6c;
  padding: -5px 0px;
}

.cart-items-nav {
  width: 750px;
  z-index: 5000;
}
.table-body-style {
  padding: 0px 40px;
  position: relative;
  margin-top: 40px;
}

.table-data .table-header ul {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  list-style: none;
  border-bottom: 2px solid #b4b4b4;
  padding-bottom: 6px;
  margin-bottom: 10px;
  color: #b4b4b4;
}
.table-data .table-header ul li {
  font-weight: 800;
}
.table-data .table-header .item {
  position: relative;
  right: 60px;
}
.table-data .table-header .size {
  position: relative;
  left: 110px;
}
.table-data .table-header .quantity {
  position: relative;
  left: 80px;
}
.table-data .table-header .price {
  position: relative;
  left: 40px;
}
.table-scroll {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.table-scroll::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  height: 7px;
}

.table-data .table-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.table-body .first-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 333px;
}

.cl-1 {
  color: #6eb2fb;
}
.cl-2 {
  color: #00d3ca;
}
.cl-3 {
  color: #f62f5e;
}
.cl-4 {
  color: #f35e3d;
}
.cl-5 {
  color: #effc90;
}
.cl-6 {
  color: #5bca05;
}
.cl-7 {
  color: #a020f0;
}

.table-body .first-row img {
  width: 50px;
  border: 2px solid #b4b4b4;
  padding: 10px;

  height: 50px;
}
.table-body .first-row .name-gen {
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
}

.table-body .first-row .name-gen a {
  text-decoration: none;
  color: #2e2e2e;
}
.table-body .first-row .name-gen .gen {
  color: #6c6c6c;
  position: relative;
  top: 3px;
}
.first-row .name-gen .remove-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 12px;
  padding-bottom: 8px;
}
.first-row .name-gen .remove-item .close-reg {
  font-size: 12px;
  font-weight: 900;
  color: #f62f5e;
  padding-right: 3px;
}
.first-row .name-gen .remove-item .remove-text {
  font-size: 13px;
  color: #b4b4b4;
}

.table-body .second-row {
  display: flex;
  justify-content: center;
  width: 30px;
  font-size: 15px;
  color: #6c6c6c;
  position: relative;
  top: 34px;
}
.table-body .third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 8px;
}
.table-body .third-row button {
  width: 15px;
  font-size: 25px;
  border-radius: 100%;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  cursor: pointer;
}
.table-body .third-row .quantity {
  font-weight: 600;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
  padding: 3px 15px;

  width: 10px;
  margin: 0px 3px;
}
.table-body .third-row .quantity span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-body .forth-row {
  margin: 0px 3px;
}
.table-body .forth-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 23px;
  position: relative;
  left: 19px;
}
.table-footer {
  background-color: #e4e4e4;
  margin-top: 14.5px;
}

.table-footer .check-shop {
  display: flex;
  justify-content: space-between;

  padding: 20px 40px;
}
.check-shop .shop-now button {
  background: #fff;
  outline: none;
  border: none;
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  color: #f62f5e;
  font-weight: 800;
  cursor: pointer;
}
.check-shop .checkout button {
  background: #f62f5e;
  outline: none;
  border: none;
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
