.seller {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.seller-contanainer {
  width: 929px;
  background-color: #f7f7f7;
  margin: 20px 0px;
  padding: 20px;
  padding-top: 0px;
}
.seller-box {
  display: flex;
  width: 100%;
}
.seller-box .box {
  margin-top: 20px;
}
.carousel {
  height: 200px;
}
.carousel-items {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-details {
  width: 380%;
}
.carousel .carousel-items img {
  width: 20px;
  height: 200px;
}

.seller-box .box .box-1 {
  width: 200px;
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
  padding: 20px;
  margin-right: 5px;
}
.seller-box .box .box-2 {
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
  padding: 20px;
  display: grid;
  min-height: 640px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}
.seller .seller-details {
  line-height: 30px;
}
.seller-name-img img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}
.seller .ratings-rev {
  display: flex;
  align-items: center;
}

/*--CHECK--*/
.seller .prod-design {
  background-color: #fff;
  width: 202px;
  text-align: center;
  line-height: 25px;
  height: 310px;
  box-shadow: 1px 3px 3px -2px;
  overflow: hidden;
}
.seller .top-list-product a {
  text-decoration: none;
  color: #2e2e2e;
}

.seller .prod-design:hover {
  box-shadow: 1px 10px 40px -5px #6c6c6c;
}

.seller .prod-design .product-img {
  height: 180px;
  border-radius: 10px;
}
.seller .seller-prod-rev .rating {
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  top: 20px;
  padding: 0px 10px;
}

.seller .prod-design .p-name {
  justify-content: center;
  position: relative;
  top: 20px;
}
.seller .prod-design .p-name .price {
  font-weight: 800;
  color: #f62f5e;
  position: relative;
  top: -5px;
}
.seller .product-pagination {
  display: flex;
  align-items: ;
  position: relative;
  top: 18px;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .seller-contanainer {
    width: 100%;
  }
}
@media screen and (max-width: 905px) {
  .seller-box {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .seller-box .box .box-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  .seller .prod-design {
    background-color: #fff;
    width: 100%;
    text-align: center;
    line-height: 25px;
    height: 310px;
    box-shadow: 1px 3px 3px -2px;
    overflow: hidden;
  }
  .seller-box .box .box-1 {
    /* width: 30%; */
  }
}
@media screen and (max-width: 800px) {
  .seller .prod-design {
    width: 80;
  }
}
@media screen and (max-width: 745px) {
  .seller-box .box .box-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .seller .prod-design {
    display: grid;

    width: 90%;
    position: relative;
    left: 20px;
  }
}
@media screen and (max-width: 590px) {
  .seller-box {
    display: grid;
    justify-content: center;
    width: 90%;
  }
  .seller-box .box .box-1 {
    width: 100%;
  }
  .seller .prod-design {
    display: grid;
    height: 450px;

    position: relative;
    margin: ;
    left: 20px;
  }
  .seller .prod-design .product-img {
    height: 300px;

    border-radius: 10px;
  }
}
@media screen and (max-width: 414px) {
  .seller-box .box .box-1 {
    margin-right: 0px;
  }

  .seller .prod-design {
    display: grid;
    height: 350px;
    width: 280px;
    position: relative;
    margin: ;
    left: 20px;
  }
  .seller .prod-design .product-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }
}
