.pass-reset {
  display: flex;
  justify-content: center;
}
.pass-reset .pass-reset-box {
  background-color: #fff;
  width: 380px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 40px 0px;
  box-shadow: 1px 10px 40px -5px #b4b4b4;
  overflow: hidden;
}
.pass-reset .pass-reset-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pass-reset .pass-reset-content .close {
  position: relative;
  left: 157px;
  bottom: 105px;
}
.pass-reset-content .close .close-reg {
  font-size: 34px;
}
.pass-reset-content .pass-reset-header {
  margin-bottom: 10px;
}
.pass-reset-content .form-group {
  display: flex;
}
.pass-reset-content .form-group .input-box {
  outline: none;
  border: 1px solid #b4b4b4;
  height: 40px;
  width: 280px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 20px;
}
.pass-reset-content .form-group .eye-icon {
  margin-top: 10px;
}

.pass-reset-content .pass-reset-btn {
  margin-top: 10px;
  height: 40px;
  width: 190px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 30px;
  outline: none;
  background-color: #f62f5e;
  color: #fff;
  border: none;
  cursor: pointer;
}
