.product-list_product {
  background-color: #fff;
  width: 202px;
  text-align: center;
  line-height: 25px;
  height: 310px;
  box-shadow: 1px 3px 3px -2px;
  overflow: hidden;
}
.top-list-product a {
  text-decoration: none;
  color: #2e2e2e;
}

.product-list_product:hover {
  box-shadow: 1px 10px 40px -5px #6c6c6c;
}
.product-list_product .item-discount {
  background-color: #f62f5e;
  position: relative;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -25px;
  color: #fff;
  font-weight: 600;
}
.product-list_product .product-img {
  height: 180px;
  border-radius: 10px;
}

.product-list_product .p-name {
  justify-content: center;
  position: relative;
  top: -10px;
}
.product-list_product .p-name .price {
  font-weight: 800;
  color: #f62f5e;
  position: relative;
  top: -5px;
}
.product-list_product .p-name .price-discount {
  font-weight: 600;
  font-size: 15px;
  color: #6c6c6c;
}

.out-stock {
  padding: 8px 15px;
  border-radius: 30px;
  font-weight: 700;
  outline: none;
  border: #f7f7f7;
  background-color: #f7f7f7;
  color: #b4b4b4;
}
.btn-view {
  position: relative;
}
.btn-view button {
  background: #f62f5e;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 30px;
  position: relative;
  /* bottom: 10px; */
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .product-list_product {
    display: grid;
    width: 99.5%;
    position: relative;
    left: 10px;
  }
  .product-list_product .product-img {
    height: 180px;
  }
}
@media screen and (max-width: 800px) {
  .product-list_product {
    width: 80;
  }
}
@media screen and (max-width: 650px) {
  .product-list_product {
    display: grid;

    width: 90%;
    position: relative;
    left: 20px;
  }
}
@media screen and (max-width: 590px) {
  .product-list_product {
    position: relative;
    top: 5px;
    height: 100%;
    padding-bottom: 10px;
    width: 100%;
    left: 0;
    margin-top: 10px;
  }
}
/* @media screen and (max-width: 490px) {
  .product-list_product {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
  }
  .product-list_product .item-discount {
    position: absolute;
    overflow: auto;
  }
}
@media screen and (max-width: 490px) {
  .product-list {
    width: 100%;
  }
  .product-list_product {
    width: 100%;
  }
  .top-list-product {
    width: 100%;
  }
} */
