.con-confirmation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}
.con-confirmation .con-section {
  background-color: white;
  box-shadow: 1px 2px 4px -2px #b4b4b4;
  width: 750px;
  height: 100%;
  margin-bottom: 50px;
  overflow: hidden;
}

.section-tot {
  padding: 0px 30px;
}

.section-split {
  position: relative;

  left: 10px;
  top: 120px;
  display: flex;
  justify-content: space-between;
}
.con-section-1 {
  width: 570px;
}
.con-table {
  height: 232px;
}
.con-table .con-table-header ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #b4b4b4;
  list-style: none;
  margin-top: 20px;
}
.con-table .con-table-header ul li {
  font-weight: 800;
}
.con-table .con-table-header .con-quantity {
  margin-left: 90px;
}
.con-table .con-table-header .con-price {
  margin-left: 25px;
}

.con-table .con-table-body {
  color: #6c6c6c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 40px;
  margin-top: 10px;
}

/* TABLE SCROLLING */
.con-table-body {
  height: 200px;
  overflow-y: scroll;
}
.con-table-body::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  height: 7px;
}
.con-table-body .item-list:nth-child(odd) {
  background-color: #f7f7f7;
  width: 400px;
}

.con-table-body .item-list {
  display: flex;
}

.con-table-body .item-list .item-name {
  width: 220px;
}
.con-table-body .item-list .qty {
  position: relative;
  left: 25px;
  text-align: center;
  width: 20px;
}
.con-table-body .item-list .price {
  position: relative;
  left: 95px;
  width: 20px;
  color: #f62f5e;
  font-weight: 800;
  text-align: center;
}
.con-section-2 {
  position: relative;
  right: 20px;
  width: 300px;
}
.con-section-2 .con-table-head {
  color: #6c6c6c;
}
.con-section-2 .con-table-head .con-header {
  font-weight: 800;
  color: #b4b4b4;
  margin-top: 20px;
}
.con-table-head .dev-list .address {
  margin: 20px 0px;

  margin-bottom: 30px;
}
.con-table-head .dev-list h4 {
  margin-bottom: 20px;
  color: #b4b4b4;
}
.con-section-3 {
  display: flex;
  padding: 0px 10px;
}
.con-section-3 .con-3 {
  position: relative;

  margin-top: 130px;
  content: "";
  padding: 0px 10px;
  width: 100%;
  border-top: 1px solid #b4b4b4;
}
.con-3 {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.con-3 button {
  position: relative;
  top: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  border-radius: 20px;
}

.con-3 .list-shipping {
  position: relative;
  right: 70px;
  margin-top: 30px;
}
.con-3 .list-shipping ul li {
  display: inline-block;
  margin-right: 30px;
  line-height: 30px;
}
.con-3 .list-shipping h4 {
  font-weight: 800;
  color: #b4b4b4;
}
.con-3 .list-shipping span {
  font-weight: 600;
}
.con-3 .list-shipping .drag {
  position: relative;
  bottom: 6px;
}
.con-3 .list-shipping .grand-total {
  font-weight: 900;
  font-size: 25px;
}
.con-section .lower-btn {
  position: relative;

  background-color: #e4e4e4;
  position: relative;
  bottom: px;
}
.con-section .lower-btn .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 38px;
}
.con-section .lower-btn .btn-group .back {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 45px 10px 45px;
  border-radius: 20px;
  color: #f62f5e;
  font-weight: 800;
  cursor: pointer;
}
.con-section .lower-btn .btn-group .next-step {
  background: #f62f5e;
  outline: none;
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .con-confirmation {
    padding: 10px;
  }
  .con-confirmation .con-section {
    width: 100%;
  }
  .shipping-box-form .inner-design {
    width: 100%;
  }
  .n-t-y {
    margin-left: 17px;
  }
}
@media screen and (max-width: 730px) {
  .section-tot {
    padding: 0px 20px;
  }
  .section-split {
    position: relative;
    left: 0px;
    top: 120px;
    display: flex;
    flex-direction: column-reverse;
  }
  .con-section-2 {
    position: relative;
    right: 0px;
    margin-bottom: 20px;
  }
  .con-table .con-table-header .con-quantity {
    margin-left: 50px;
  }
  .con-table .con-table-header .con-price {
    position: relative;
    right: 75px;
  }
  .con-section-3 .con-3 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 680px) {
  .con-3 {
    display: grid;
    flex-direction: column;
  }
  .con-3 .list-shipping {
    position: relative;
    right: 0px;
  }
}
@media screen and (max-width: 500px) {
  .section-split {
    width: 90%;
  }
  .con-table {
    overflow-x: scroll;
    width: 50%;
  }
  .con-table::-webkit-scrollbar {
    cursor: pointer;
    width: 5px;
    height: 7px;
  }
  .con-table .con-table-header ul {
    display: none;
  }
  .con-section-3 {
    padding: 0px 0px;
  }
  .con-section-3 .con-3 {
    padding: 0px 0px;
  }
  .con-section .lower-btn .btn-group {
    padding: 13px 15px;
  }
}
@media screen and (max-width: 320px) {
  .section-tot {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 280px) {
  .con-section .lower-btn {
    background-color: #e4e4e4;
    position: relative;
    bottom: 0px;
    height: 100%;
    width: 100%;
  }
  .con-section .lower-btn .btn-group {
    display: grid;
    grid-template-columns: 1fr;
  }
  .con-section .lower-btn .btn-group .next-step {
    margin-top: 10px;
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
