.shipping {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}
.shipping .shipping-box {
  background-color: white;
  box-shadow: 1px 2px 4px -2px #b4b4b4;
  width: 750px;
  height: 100%;
  margin-bottom: 50px;
  overflow: hidden;
}

.header-check {
  display: flex;
  justify-content: center;

  position: relative;
  left: 5px;
}
.box-check {
  position: relative;
  top: 30px;
  left: -25px;
  
}
.shipping-box-form .inner-design {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 5px;
}

.shipping .shipping-box-form .inner-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
  margin-top: 100px;
  gap: 20px;
}
.shipping-box-form .inner-form .form-group {
  display: grid;
  grid-template-columns: 1fr;
}
.shipping-form .inner-form .form-group label {
  font-weight: 600;
  color: #b4b4b4;
}
.shipping-form .inner-form .form-group input {
  outline: none;
  border: 1px solid #b4b4b4;
  height: 40px;
  
  width: 90%;
  border-radius: 5px;
  font-size: 25px;
}

.shipping-box-form .bill-dev {
  display: flex;
  justify-content: center;
  width: 100%;
}
.shipping-box-form .billing {
  padding: 20px 0px;
  line-height: 30px;
  width: 100%;
}
.shipping-box-form .billing .country label {
  font-weight: 600;
  color: #b4b4b4;
}
.shipping-box-form .billing .country select {
  outline: none;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  font-weight: 800;
  color: #6c6c6c;
}

.shipping-box-form .billing .billing-add {
  display: flex;
  align-items: center;
}
.billing .billing-add input {
  display: none;
}
.billing .billing-add input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: relative;
}
.billing .billing-add label {
  cursor: pointer;
  display: flex;
  font-weight: 600;
}
.billing .billing-add label::before {
  content: "";
  width: 1em;
  height: 1em;
  position: relative;
  top: 6px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #dad6d6;
}
.billing-add label:hover::before,
.billing-add input[type="checkbox"]:hover + label::before {
  background-color: #6eb2fb;
}

.billing-add input[type="checkbox"]:checked + label::before {
  content: "\002714";
  background-color: #6eb2fb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.shipping-box-form .billing {
  content: "";
  

  border-bottom: 1px solid #b4b4b4;
}

.delivery-opt {
  margin-top: 30px;
}
.delivery-opt h2 {
  margin-bottom: 5px;
}
.delivery-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: relative;
  left: -3px;
}

.delivery-container label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 5px;
}
.delivery-container label span {
  display: inline-flex;
  align-items: center;

  /* padding: 10px 0px; */
}
.delivery-container .label {
  color: #b4b4b4;
}
.delivery-container input {
  position: relative;
  bottom: 2px;
  left: 3px;
}

.shipping-box .lower-btn {
  background-color: #e4e4e4;
  position: relative;
 
 
  align-items: center;
  width: 100%;
}
.shipping-box .lower-btn .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 38px;
  
}
.lower-btn .btn-group .back {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 45px 10px 45px;
  border-radius: 20px;
  color: #f62f5e;
  font-weight: 800;
  cursor: pointer;
}
.lower-btn .btn-group .next-step {
  background: #f62f5e;
  outline: none;
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
@media screen and (min-width: 760px) {
  .box-check-title {
    display: none;
  }
  
}
@media screen and (max-width: 760px) {
  .box-check {
    display: none;
  }
  .shipping {
    padding: 10px;
  }
  .shipping .shipping-box {
    width: 100%;
  }
  .shipping-box-form .inner-design {
    width: 100%;
  }
  .checkout {
    display: none;
  }
  .box-form .box-check {
    position: relative;
    top: 30px;
    left: 0px;
  }
  .box-check-title {
    position: relative;
    top: 60px;
    right: 10px;
  }
}
@media screen and (max-width: 720px) {
  .shipping-box-form .inner-form {
    position: relative;
    left: -4px;
    padding: 0px 10px;
  }
  .shipping-box-form .bill-dev {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    position: relative;
    padding: 0px 10px;
  }
  .shipping-form .inner-form .form-group input {
    font-size: 18px;
  }

  .shipping .delivery-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: flex-start;
  }
  .shipping-box .lower-btn .btn-group {
    padding: 13px 15px;
  }
}

@media screen and (max-width: 414px) {
  .shipping .shipping-box-form .inner-form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .lower-btn .btn-group .back {
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lower-btn .btn-group .next-step {
    padding: 9px 25px 9px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 280px) {
  .shipping-box .lower-btn {
    background-color: #e4e4e4;
    position: relative;
    bottom: 0px;
    height: 100%;
    width: 100%;
  }
  .shipping-box .lower-btn .btn-group {
    display: grid;
    grid-template-columns: 1fr;
  }
  .lower-btn .btn-group .next-step {
    margin-top: 10px;
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
