.box_style_list {
  display: flex;
  justify-content: center;
  .box_list_box {
    width: 1000px;
    background-color: #fff;
    h2 {
      color: var(--color-ash);
    }
    .datatable {
      padding: 20px;
      height: 715px;
      .datagrid {
        padding: 10px;
        height: 680px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      }
      .cellWidthImg {
        display: flex;
        align-items: center;

        .cellImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
        }
      }
      .cellWithAdminSellerStatus {
        .yes {
          color: green;
        }

        .no {
          color: red;
        }
      }
      .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.false {
          color: green;
          background-color: rgba(0, 128, 0, 0.151);
        }

        &.true {
          color: red;
          background-color: rgba(255, 0, 0, 0.2);
        }
      }
      .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
        a {
          text-decoration: none;
        }
        .blockButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: darkblue;
          border: 1px dotted rgba(0, 0, 139, 0.596);
          cursor: pointer;
        }
        .deleteButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: crimson;
          border: 1px dotted rgba(220, 20, 60, 0.6);
          cursor: pointer;
        }
        .viewButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: darkgreen;
          border: 1px dotted rgba(0, 139, 0, 0.596);
          cursor: pointer;
        }
      }
    }
  }
}
