.admin-user {
  display: flex;
  justify-content: center;
}

.admin-user .admin-user-box {
  background-color: #fff;

  padding: 0px 20px;
  width: 940px;
  height: 100%;
  padding-bottom: 20px;
  overflow: hidden;

  box-shadow: 1px 2px 4px -2px #b4b4b4;
}
.admin-user-box .user-admin-header {
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
}
.admin-user-section {
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
  padding: 20px;
  padding-bottom: 20px;

  overflow: hidden;
}
.admin-user-table {
  overflow-x: scroll;
}
.admin-user-table::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  height: 7px;
}
.admin-user-table::-webkit-scrollbar-track {
  width: 5px;
  height: 7px;
  background-color: #b4b4b4;
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.admin-user-table::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  width: 5px;

  height: 15% !important;
  transition: 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}
.admin-user-box h1 {
  display: flex;
  justify-content: center;
  padding: px;
  font-family: "Old Standard TT", serif;
  font-size: 48px;
  color: #2e2e2e;
}

.admin-user-table-header ul {
  border-bottom: 3px solid #b4b4b4;
  width: 900px;
}
.admin-user-table-header ul {
  display: inline-flex;
  justify-content: space-around;
  list-style: none;
  color: #b4b4b4;
  font-weight: 800;
  padding-bottom: 10px;
}
.admin-user-table-header .admin-user-list-id {
  width: 140px;
  display: flex;
  justify-content: start;
  position: relative;
  left: -28px;
}
.admin-user-table-header .admin-user-list {
  margin-left: 20px;
  position: relative;
  right: 10px;
}
.admin-user-table-header .admin-user-email {
  width: 120px;
  position: relative;
  left: -20px;
  display: flex;
  justify-content: center;
}

.admin-user-table-header .admin-user-isadmin {
  position: relative;
  left: -5px;
}
.admin-user-table-header .admin-user-actions {
  position: relative;
  left: -5px;
}

.admin-user-table-body .admin-user-table-row {
  overflow-y: scroll;
  height: 600px;
  width: 900px;

  margin-top: 10px;
}
.admin-user-table-body .admin-user-table-row::-webkit-scrollbar {
  width: 5px;
}
.admin-user-table-row ul li {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
}
.admin-user-table-row .admin-user-data-list:nth-child(odd) {
  min-height: 40px;
  background-color: #f7f7f7;
}
.admin-user-table-row .admin-user-data-list:nth-child(even) {
  min-height: 40px;
}
.admin-user-table-row .admin-user-id {
  width: 140px;
  position: relative;
}
.admin-user-table-row .admin-user-name {
  line-height: 18px;
  width: 90px;
  position: relative;
  left: 100px;
}
.admin-user-table-body ul .user-email {
  width: 100px;
  text-align: center;
  position: relative;
  margin-left: 115px;
  position: relative;
  left: -25px;
}
.admin-user-table-body ul .admin-userIseller {
  width: 60px;
  display: inline-block;
  justify-content: center;
  position: relative;
  left: 105px;
}
.admin-user-table-body ul .admin-userIsadmin {
  width: 100px;
  text-align: center;
  position: relative;
  left: 140px;
}
.admin-user-table-body .admin-yes {
  color: #6eb2fb;
  font-weight: 600;
}
.admin-user-table-body .admin-negate {
  color: #f62f5e;
}
.admin-user-table-body ul .admin-user-btn-view {
  width: 140px;
  text-align: center;
  position: relative;
  left: 150px;
}
.admin-user-table-body ul .admin-user-btn {
  background: #b4b4b4;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.admin-user-table-body .admin-user-delete {
  padding: 5px 10px 5px 10px;
  outline: none;
  border: none;
  background-color: #f62f5e;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .admin-user-box .user-admin-header {
    font-size: 28px;
  }
}
