.top-case .top-case-pad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: px;
  font-weight: 800;
  position: static;
  padding: 0px 10px;
  height: 50px;
}
.top-case a {
  text-decoration: none;
}
.top-case .sign-reg {
  display: flex;
  align-items: center;
}
.top-case .admin-sign-reg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 200px;
}

.top-case .user-select ul li {
  list-style: none;
}

.top-case .sign-reg .user-select span {
  font-weight: 800;
  color: #f62f5e;
  cursor: pointer;
  position: relative;
  left: 10px;
}
.top-case .sign-reg .user-select .fa-caret-down {
  color: #f62f5e;
  cursor: pointer;
  position: relative;
  left: 10px;
}
.top-case .user-select ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.user-select ul ul {
  display: none;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 5000;
  padding: 10px;
  border-radius: 5px;
}
.user-select ul ul li a {
  border-bottom: 1px solid #fff;
}

.user-select ul li:hover > ul {
  display: block;
  position: absolute;
  line-height: 30px;
}
.user-select ul ul li .user-signout a {
  color: #f62f5e;
}

/* ADMIN */
.top-case .admin-select {
}
.top-case .admin-select ul li {
  list-style: none;
}
.top-case .admin-select span {
  font-weight: 800;
  color: #f62f5e;
  cursor: pointer;
  position: relative;
  left: 10px;
}
.top-case .admin-select .fa-caret-down {
  color: #f62f5e;
  cursor: pointer;
  position: relative;
  left: 20px;
}
.top-case .admin-select ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.admin-select ul ul {
  display: none;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 5000;
  padding: 10px;
  border-radius: 5px;
}
.admin-select ul ul li a {
  border-bottom: 1px solid #fff;
}

.admin-select ul li:hover > ul {
  display: block;
  position: absolute;
  line-height: 30px;
}
.admin-select ul ul li .user-signout a {
  color: #f62f5e;
}
/* Seller */
.prof {
  cursor: pointer;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.sell-link-nav {
  text-decoration: none;
  color: #2e2e2e;
}
.top-case .seller-select-nav ul li {
  list-style: none;
}
.top-case .seller-select-nav span {
  font-weight: 800;
  color: #f62f5e;
  cursor: pointer;
}
.top-case .seller-select-nav .fa-caret-down {
  color: #f62f5e;
  cursor: pointer;
  margin-left: 10px;
}
.top-case .seller-select-nav .seller-drop-list-nav {
  display: none;
  opacity: 0;
}

.seller-select-nav .seller-drop-list-nav {
  position: absolute;

  top: 23px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 5000;

  padding: 5px 10px;
  border-radius: 5px;
}
.top-case .seller-select-nav ul li a {
  display: block;
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
.seller-select-nav ul li a {
  border-bottom: 1px solid #fff;
}

.seller-select-nav:hover > .seller-drop-list-nav {
  display: block;
  opacity: 1;
}

.top-case .sign-reg span {
  margin-right: 3px;
}
.top-case .sign-reg .s-reg a {
  color: #f62f5e;
  display: inline-block;
  align-items: center;
}
.top-case .list .k-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 350px;
  list-style: none;
  margin-left: 30px;
}
.top-case .list ul a {
  text-decoration: none;
  color: #2e2e2e;
}
/* .top-case .list ul li {
  display: inline-flex;
  margin-left: 45px;
  width: 100px;
  color: black;
  position: relative;
  left: 18px;
} */
.currency-cart {
  display: flex;
  align-items: center;
}
.top-case .currency {
  position: relative;
  right: 20px;
}
.top-case #cart {
  display: flex;
  justify-self: end;
  align-items: center;
  position: relative;
  right: 5px;
}
.top-case #cart a {
  text-decoration: none;
  color: #2e2e2e;
}
.top-case .cart .fa-sharp {
  font-size: 26px;
  position: relative;
  left: -10px;
  top: 11px;
}
.top-case .cart .cart-top-counter {
  position: relative;
  right: -2px;
  bottom: 25px;
  background-color: #f62f5e;
  color: #fff;
  width: 12px;
  height: 23px;
  padding: 0px 6px;
  font-size: 15px;
  border-radius: 100%;
}
.top-case .cart .cart-top-counter span {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .top-case .list {
    display: none;
  }
  .top-case .islist {
    display: none;
  }
  .top-case .currency {
    position: relative;
  }
  .top-case #cart {
    display: flex;
    justify-self: end;
    position: relative;
  }
}
@media screen and (max-width: 840px) {
  .top-case {
    display: none;
  }
}
