.profile-styles {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  h1 {
    color: #6c6c6c;
  }
  .profile_seller {
    width: 900px;
    background-color: #f7f7f7;
    margin: 10px 0px;
    padding: 20px;
    .profile_box {
      .profile_form {
        .form_header {
          -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
          box-shadow: 0px 0px 7px -1px #b4b4b4;
          padding: 20px;
          display: flex;
          align-items: center;
          .user_image {
            margin-right: 20px;
            img {
              width: 160px;
              height: 160px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .user_details {
            line-height: 30px;
            .user_detail_list {
              display: flex;
              align-items: center;
              label {
                font-weight: 600;
                color: #6c6c6c;
                margin-right: 10px;
              }
              h4 {
                font-weight: 500;
              }
              .unverified-account,
              .verified-account {
                height: 20px;
                display: flex;
                align-items: center;
              }
            }
          }
        }
        .profile_inner_form {
          -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
          box-shadow: 0px 0px 7px -1px #b4b4b4;
          padding: 20px;
          .profile_user_form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            .profile_form_group {
              display: grid;
              grid-template-columns: 1fr;
              margin-top: -10px;
              label {
                font-weight: 600;
                color: #6c6c6c;
              }
              input {
                padding: 7px;
                font-size: 16px;
                border-radius: 5px;
                outline-color: #6eb2fb;
                border: 2px solid #b4b4b4;
              }
            }
          }
          .seller_component {
            margin-top: 20px;
            .seller_header {
              margin-bottom: 10px;
            }
            .seller_name {
              display: grid;
            }
            .profile-form-group {
              margin-bottom: 10px;
              img {
                width: 160px;
                height: 160px;
                border-radius: 10px;
                object-fit: cover;
              }

              label {
                font-weight: 600;
                color: #6c6c6c;
              }
              input {
                width: 50%;
                padding: 7px;
                font-size: 16px;
                border-radius: 5px;
                outline-color: #6eb2fb;
                border: 2px solid #b4b4b4;
              }
            }
          }
          .profile_form_button {
            margin-top: 20px;
            button {
              background: #f62f5e;
              outline: none;
              border: none;
              font-size: 20px;
              width: 40%;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              color: #fff;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 525px) {
  .profile-styles {
    .profile_seller {
      .profile_box {
        .profile_form {
          .profile_inner_form {
            .profile_user_form {
              grid-template-columns: 1fr;
            }
            .seller_component {
              .profile-form-group {
                input {
                  width: 95%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .profile-styles {
    .profile_seller {
      .profile_box {
        .profile_form {
          .form_header {
            flex-direction: column;
          }
          .profile_inner_form {
            .profile_form_button {
              button {
                font-size: 16px;
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
