.finish {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}
.finish .finish-box {
  background-color: white;
  box-shadow: 1px 2px 4px -2px #b4b4b4;
  width: 750px;
  height: 703px;
  margin-bottom: 50px;
}
.finish-box h2 {
  position: relative;
  top: 30px;
  left: 30px;
}
.finish-box .finish-sections {
  display: flex;
  justify-content: center;
  position: relative;
}
.f-sections {
  text-align: center;
  line-height: 30px;
}
.f-sections .img {
  position: relative;
  top: 60px;
}
.f-sections .details h1 {
  font-family: "Old Standard TT", serif;
  font-size: 48px;
  color: #2e2e2e;
  margin-bottom: 20px;
}
.f-sections span {
  color: #6c6c6c;
  font-size: 18px;
}
.finish-btn button {
  position: relative;
  top: 40px;
  background: #f62f5e;
  outline: none;
  border: none;
  padding: 20px 50px 20px 50px;
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .finish {
    padding: 10px;
  }
  .finish .finish-box {
    width: 100%;
  }
  .n-t-y {
    margin-left: 17px;
  }
  .finish-box h2 {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .finish-btn button {
    padding: 15px 40px 15px 40px;
  }
}
